.container {
    margin-bottom: 150px;
    
}
.footer__heading {
    text-align: left;
 
}
.footer-item {
    list-style: none;
   
    text-align:left;
   
}
.footer-item__link {
    text-decoration: none;
    
    
}